/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ base.css ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

* {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
  text-decoration:none;
}

.body {
  background-color: #333333;
  font-family: 'Noto Sans', sans-serif;
  margin-bottom: 200px;
}

.checkbtn {
  color: #F6F1F1;
  cursor: pointer;
  display: none;
  float: right;
  font-size: 30px;
  line-height: 80px;
  margin-right: 40px;
}

.h {
    position: sticky;
    top: 0;
    z-index: 999;
}

.nav {
    background: #146C94;
    height: 80px;
    position: fixed;
    width: 100%;
}

.nav-item {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

.nav-items-list {
    float: right;
    margin-right: 20px;
}

.nav-link {
    border-radius: 3px;
    color: #F6F1F1;
    font-size: 17px;
    padding: 7px 13px;
    text-transform: uppercase;
}

.nav-link:hover {
    background: #19A7CE;
    color: #F6F1F1;
    transition: 0.5s;
}

.nav-logo {
    color: #F6F1F1;
    font-size: 35px;
    font-weight: bold;
    line-height: 80px;
    padding: 0 100px;
}

@media (max-width: 1000px) {
    .checkbtn {
        display: block;
    }

    .nav-item {
        display: block;
        line-height: 30px;
        margin: 50px 0;
    }

    .nav-items-list {
        background: #146C94;
        height: 100vh;
        left: -100%;
        position: fixed;
        text-align: center;
        top: 80px;
        transition: all 0.5s;
        width: 100%;
    }

    .nav-link {
        font-size: 20px;
    }

    .nav-logo {
        font-size: 30px;
        padding-left: 50px;
    }

    a:hover, a.nav-link {
        background: none;
        color: #F6F1F1;
    }

    #check:checked ~ .nav-items-list {
        left: 0;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
    body, html {
        overflow-x: hidden;
        width: 100%;
    }
}

#check {
    display: none;
}
