/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ data_page.css ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


table,
tr {
    border: 2px solid #999;
}

th {border: 2px solid #999;
    text-overflow: fade;
    max-width:100px;
    overflow: hidden;
    white-space: nowrap;}

.subtitle {
    color: #F6F1F1;
    font-size: 25px;
    margin: auto;
    text-align: center;
}

.table {
    background-color: #696969;
    border-collapse: collapse;
    border: 2px solid #999;
    color: #F6F1F1;
    margin: 40px auto auto auto;
    overflow-x: auto;
    text-align: center;
    width: 60%;
}

.table_mob {
    background-color: #696969;
    border-collapse: collapse;
    border: 2px solid #999;
    color: #F6F1F1;
    font-size: 10%;
    margin: 40px auto auto auto;
    overflow-x: auto;
    text-align: center;
    width: 30%;
}

.table_title {
    color: #F6F1F1;
    font-size: 25px;
    margin: 50px auto auto auto;
    text-align: center;
}

.title {
    color: #F6F1F1;
    font-family: Impact, serif;
    font-size: 380%;
    padding: 30px;
    text-align: center;
}

.title_mob {
    color: #F6F1F1;
    font-family: Impact, serif;
    font-size: 200%;
    padding: 30px;
    text-align: center;
}

@media only screen and (max-width: 1026px) {
    #computer {
        display: none;
    }
}

@media only screen and (min-width: 1027px) {
    #mobile {
        display: none;
    }
}
