/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ professional.css ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.institution {
    color: #B6C4B6;
    font-family: Impact, serif;
    font-size: 320%;
}

.date_period,
.diploma {
    color: #EEF0E5;
    font-family: Impact, serif;
    font-size: 320%;
}

.description {
    color: #EEF0E5;
    font-family: 'Noto Sans', sans-serif;
    font-size: 130%;
    padding: 1%;
    text-align: justify;
}

.education {
    background-color: #304D30;
    border-radius: 5%;
    margin: 1.5% 10% 1.5% 10%;
    padding: 2%;
    width: 80%;
}

.education_header {
    width: 100%;
    display: flex;
}

.education_mob {
    background-color: #304D30;
    border-radius: 5%;
    margin: 1.5% 10% 1.5% 10%;
    padding: 2%;
    width: 80%;
}

.education_mob_header {
    margin-top: 10%;
    width: 100%;
    margin-bottom: 10px;
}

.photo {
    border-radius:20%;
    float: left;
    margin: auto;
    width: 30%;
    padding: 5%;
}

.photo_mob {
    border-radius: 10%;
    float: left;
    margin: auto auto auto 5%;
    width: 30%;
}

.text {
    float: right;
    font-family: Impact, serif;
    margin: auto;
    text-align: center;
    width: 42%;
}

.text_mob {
    float: right;
    font-family: Impact, serif;
    margin-top: 5%;
    text-align: center;
    width: 60%;
    font-size: 1.2vw;
}

.text2 {
    width: 100%;
    padding: 5%;
}

.text2_mob {
    margin-top: 50%;
    width: 100%;
    font-size: 70%;
}

.title {
    color: #304D30;
    font-family: Impact, serif;
    font-size: 380%;
    padding: 30px;
    text-align: center;
}

.title_mob {
    color: #304D30;
    font-family: Impact, serif;
    font-size: 200%;
    padding: 30px;
    text-align: center;
}

@media only screen and (max-width: 1026px) {
    #computer {
        display: none;
    }
}

@media only screen and (min-width: 1027px) {
    #mobile {
        display: none;
    }
}
