/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ home.css ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.bio {
    color: #304D30;
    float: left;
    font-family: Impact, serif;
    font-size: 40px;
    margin-right: 5vw;
    margin-top: 2.6vw;
    margin-bottom: 100px;
    text-align: justify;
    width: 50vw;
}

.bio_mob {
    color: #304D30;
    font-family: Impact, serif;
    font-size: 17px;
    margin: auto;
    text-align: justify;
    padding: 10px;
    width: 80%;
}

.me {
    float: left;
    margin-left: 5.5vw;
    margin-top: 18vh;
    margin-bottom: 200px;
    object-fit: contain;
    width: 30vw;
}

.me_mob {
    margin-top: 2vh;
    object-fit: contain;
    width: 100%;
}

.name {
    color: #304D30;
    float: left;
    font-family: Impact, serif;
    font-size: 50px;
    margin-right: 5vw;
    margin-top: 9.5vw;
    width: 50vw;
}

.name_mob {
    color: #304D30;
    font-family: Impact, serif;
    font-size: 25px;
    text-align: center;
    margin-top: 12vw;
    width: 100%;
}

.role {
    color: #163020;
    float: left;
    font-family: Impact, serif;
    font-size: 40px;
    margin-right: 5vw;
    margin-top: 1vw;
    width: 50vw;
}

.role_mob {
    color: #163020;
    font-family: Impact, serif;
    font-size: 20px;
    text-align: center;
    margin-top: 1vw;
    width: 100%;
}

@media only screen and (max-width: 1026px) {
    #computer {
        display: none;
    }
}

@media only screen and (min-width: 1027px) {
    #mobile {
        display: none;
    }
}
