/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ home.css ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.bio {
    color: #F6F1F1;
    float: right;
    font-family: Impact, serif;
    font-size: 25px;
    margin-right: 5vw;
    margin-top: 2vw;
    text-align: justify;
    width: 50vw;
}

.me {
    float: left;
    margin-left: 5.5vw;
    margin-top: 10vh;
    object-fit: contain;
    width: 30vw;
}

.name {
    color: #19A7CE;
    float: right;
    font-family: Impact, serif;
    font-size: 30px;
    margin-right: 5vw;
    margin-top: 12vw;
    width: 50vw;
}

.role {
    color: #F6F1F1;
    float: right;
    font-family: Impact, serif;
    font-size: 25px;
    margin-right: 5vw;
    margin-top: 1vw;
    width: 50vw;
}
