
.header {
    border-radius:25px;
    background-color:#343A40;
    padding:3%
}

.title {
    color:#E9ECEF;
    text-align:center;
    font-size:200%;
    font-family:Lucida Console, Courier New, monospace;
}

.title2 {
    color:#E9ECEF;
    text-align:center;
    font-size:190%;
    font-family:Courier New, monospace;
}

.title3 {
    color:#E9ECEF;
    text-align:center;
    font-size:140%;
    font-family:Courier New, monospace;
}

.left_section {
    width:30%;
    float:left;
}

.me {
    width:100%;
}

.contacts {
    margin-top:30px;
    padding:5%;
    display:inline-block;
}

.contact {
    padding:2%;
    width:32%;
    display:inline;
    margin-left:auto;
    margin-right:auto;
}

.right_section {
    margin-top:10px;
    width:60%;
    float:right;
}

.blockquote {
    border-radius:25px;
    background-color:#343A40;
    padding:3%;
}

.blocktext {
    color:#E9ECEF;
    text-align:justify;
    font-size:100%;
    font-family:Lucida Console, monospace;
}
