
.header {
    border-radius:25px;
    background-color:#343A40;
    padding:3%
}

.title {
    color:#E9ECEF;
    text-align:center;
    font-size:200%;
    font-family:Lucida Console, Courier New, monospace;
}


.certificate {
    width:100%;
    padding:10%;
    margin-bottom:50px;
    border-radius:25px;
    background-color:#343A40;
}

.title2 {
    color:#E9ECEF;
    text-align:center;
    font-size:190%;
    font-family:Courier New, monospace;
    margin-bottom:1%;
}

.subtitle {
    color:#E9ECEF;
    text-align:center;
    font-size:160%;
    font-family:Courier New, monospace;
    margin-bottom:1%;
}

.image {
    width:80%;
    margin-left:auto;
    margin-right:auto;
    margin-top:10%;
    display: block;
}
