<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../static/images/icon.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="../static/stylesheets/base.css">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="André Haffner's personal website!"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap">
    <title>{% block title %}{% endblock %}</title>
    {% block style %}{% endblock %}
    <script src="https://kit.fontawesome.com/77d6772feb.js" crossorigin="anonymous"></script>
</head>

<body class="body">
    <section class="h">
        <nav class="nav">
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
            <label class="nav-logo"><i>AH</i></label>
            <ul class="nav-items-list">
                <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="/professional" class="nav-link">Professional</a></li>
                <li class="nav-item"><a href="/education" class="nav-link">Education</a></li>
                <li class="nav-item"><a href="/certificates" class="nav-link">Certificates</a></li>
                <li class="nav-item">
                    <a href="https://github.com/andrehaffner/flask_andrehaffner" class="nav-link" target="_blank">
                        Code
                    </a>
                </li>
            </ul>
        </nav>
    </section>

    <br/>

    <section>
        <br/><br/><br/>
        {% block content %}
        {% endblock %}
    </section>

    <br/><br/>

    <div class="contacts" id="computer">
        <a href="mailto:andrehaffner.dev@gmail.com" target="_blank">
            <img src="../static/images/contacts/email.png" alt="email.png" class="contact">
        </a>
        <a href="https://github.com/andrehaffner" target="_blank">
        <img src="../static/images/contacts/github.png" alt="github.png" class="contact">
        </a>
        <a href="https://linkedin.com/in/andrehaffner" target="_blank">
            <img src="../static/images/contacts/linkedin.png" alt="linkedin.png" class="contact">
        </a>
    </div>

    <div class="contacts_mob" id="mobile">
        <a href="mailto:andrehaffner.dev@gmail.com" target="_blank">
            <img src="../static/images/contacts/email.png" alt="email.png" class="contact">
        </a>
        <a href="https://github.com/andrehaffner" target="_blank">
        <img src="../static/images/contacts/github.png" alt="github.png" class="contact">
        </a>
        <a href="https://linkedin.com/in/andrehaffner" target="_blank">
            <img src="../static/images/contacts/linkedin.png" alt="linkedin.png" class="contact">
        </a>
    </div>

</body>

</html>
