<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Certificates{% endblock %}

{% block style %}
<link rel="stylesheet" href="../static/stylesheets/certificates.css">
{% endblock %}

{% block content %}

        <div id="computer">
            <h2 class="title">Certificates</h2>

            <section class="certificate">
                <img src="../static/images/certificates/eoty.png" alt="Not finished yet." class="photo">
                <blockquote class="text">
                    <p class="course">Employee of the Year 2023</p>
                    <p class="institution">Canadian Tire North Vancouver</p>
                    <p class="date_period">Jan/2024</p>
                </blockquote>
            </section>

            <section class="certificate">
                <img src="../static/images/certificates/javascript.png" alt="Not finished yet." class="photo">
                <blockquote class="text">
                    <p class="course">Javascript Course</p>
                    <p class="institution">Coderhouse</p>
                    <p class="date_period">Aug/2023</p>
                </blockquote>
            </section>

            <section class="certificate">
                <img src="../static/images/certificates/introduction_to_computer_science.jpg"
                     alt="Not finished yet." class="photo">
                <blockquote class="text">
                    <p class="course">Introduction to Computer Science</p>
                    <p class="institution">Harvard University School of Continuing Education</p>
                    <p class="date_period">Dec/2022</p>
                </blockquote>
            </section>

            <section class="certificate">
                <img src="../static/images/certificates/python_postgresql.png" alt="Not finished yet." class="photo">
                <blockquote class="text">
                    <p class="course">Python/PostgreSQL Course</p>
                    <p class="institution">Codestars</p>
                    <p class="date_period">Dec/2022</p>
                </blockquote>
            </section>

            <section class="certificate">
                <img src="../static/images/certificates/bootcamp_cloud.png" alt="Not finished yet." class="photo">
                <blockquote class="text">
                    <p class="course">Cloud Bootcamp</p>
                    <p class="institution">Cloud Trainings</p>
                    <p class="date_period">Oct/2022</p>
                </blockquote>
            </section>

            <section class="certificate">
                <img src="../static/images/certificates/professional_excel.png" alt="Not finished yet." class="photo">
                <blockquote class="text">
                    <p class="course">Professional Excel</p>
                    <p class="institution">Bowtie Training Center</p>
                    <p class="date_period">Sep/2022</p>
                </blockquote>
            </section>

            <section class="certificate">
                <img src="../static/images/certificates/advanced_intensive_english_program.png"
                     alt="Not finished yet." class="photo">
                <blockquote class="text">
                    <p class="course">Advanced Intensive English Program</p>
                    <p class="institution">International Language Institute Washington D.C.</p>
                    <p class="date_period">January/2018</p>
                </blockquote>
            </section>

        </div>

        <div id="mobile">
            <h2 class="title_mob">Certificates</h2>

            <section class="certificate_mob">
                <img src="../static/images/certificates/eoty.png" alt="Not finished yet." class="photo_mob">
                <blockquote class="text_mob">
                    <p class="course">Employee of the Year 2023</p>
                    <p class="institution">Canadian Tire North Vancouver</p>
                    <p class="date_period">Jan/2024</p>
                </blockquote>
            </section>

            <section class="certificate_mob">
                <img src="../static/images/certificates/javascript.png" alt="Not finished yet." class="photo_mob">
                <blockquote class="text_mob">
                    <p class="course">Javascript Course</p>
                    <p class="institution">Coderhouse</p>
                    <p class="date_period">Aug/2023</p>
                </blockquote>
            </section>

            <section class="certificate_mob">
                <img src="../static/images/certificates/introduction_to_computer_science.jpg"
                     alt="Not finished yet." class="photo_mob">
                <blockquote class="text_mob">
                    <p class="course">Introduction to Computer Science</p>
                    <p class="institution">Harvard University School of Continuing Education</p>
                    <p class="date_period">Dec/2022</p>
                </blockquote>
            </section>

            <section class="certificate_mob">
                <img src="../static/images/certificates/python_postgresql.png"
                     alt="Not finished yet." class="photo_mob">
                <blockquote class="text_mob">
                    <p class="course">Python/PostgreSQL Course</p>
                    <p class="institution">Codestars</p>
                    <p class="date_period">Dec/2022</p>
                </blockquote>
            </section>

            <section class="certificate_mob">
                <img src="../static/images/certificates/bootcamp_cloud.png" alt="Not finished yet." class="photo_mob">
                <blockquote class="text_mob">
                    <p class="course">Cloud Bootcamp</p>
                    <p class="institution">Cloud Trainings</p>
                    <p class="date_period">Oct/2022</p>
                </blockquote>
            </section>

            <section class="certificate_mob">
                <img src="../static/images/certificates/professional_excel.png"
                     alt="Not finished yet." class="photo_mob">
                <blockquote class="text_mob">
                    <p class="course">Professional Excel</p>
                    <p class="institution">Bowtie Training Center</p>
                    <p class="date_period">Sep/2022</p>
                </blockquote>
            </section>

            <section class="certificate_mob">
                <img src="../static/images/certificates/advanced_intensive_english_program.png"
                     alt="Not finished yet." class="photo_mob">
                <blockquote class="text_mob">
                    <p class="course">Advanced Intensive English Program</p>
                    <p class="institution">International Language Institute Washington D.C.</p>
                    <p class="date_period">January/2018</p>
                </blockquote>
            </section>

        </div>

{% endblock %}
