<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Certificates{% endblock %}
{% block style %}<link rel="stylesheet" href="../static/certificates.css">{% endblock %}

{% block content %}
    <div class="header">
        <h3 class="title"><b>Certificates</b></h3>
    </div>
    <br/><br/>
    {% for certificate in certificates %}
        <section class="certificate">
            <p class="title2"><b>{{ certificate.title }}</b></p>
            <p class="subtitle">{{ certificate.subtitle }}</p>
            <img alt="certificate" src="{{ certificate.file }}" class="image">
        </section>
    {% endfor %}
{% endblock %}
