<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Data{% endblock %}
{% block style %}
    <link rel="stylesheet" href="../static/styles/data_page.css">
{% endblock %}

{% block content %}
    <h2 class="title">DATA USED ON THIS SITE</h2>
    <h2 class="subtitle">All data used on this site is stored in a PostgreSQL server.</h2>

    <h1 class="table_title">Table1: professional</h1>
    <table class="table">
        <tr class="table_header">
            <th>ID</th>
            <th>Role</th>
            <th>Company</th>
            <th>Period</th>
            <th>Image</th>
        </tr>

        {% for line in professional_table %}
            <tr class="table_line">
                <th>{{ line.id }}</th>
                <th>{{ line.role }}</th>
                <th>{{ line.company }}</th>
                <th>{{ line.date_period }}</th>
                <th>{{ line.image }}</th>
                <th>{{ line.description }}</th>
            </tr>
        {% endfor %}
    </table>

    <h1 class="table_title">Table2: Education</h1>
    <table class="table">
        <tr class="table_header">
            <th>ID</th>
            <th>Diploma</th>
            <th>Institution</th>
            <th>Period</th>
            <th>Image</th>
        </tr>

        {% for line in education_table %}
            <tr class="table_line">
                <th>{{ line.id }}</th>
                <th>{{ line.diploma }}</th>
                <th>{{ line.institution }}</th>
                <th>{{ line.date_period }}</th>
                <th>{{ line.image }}</th>
                <th>{{ line.description }}</th>
            </tr>
        {% endfor %}
    </table>

    <h1 class="table_title">Table3: Certificates</h1>
    <table class="table">
        <tr class="table_header">
            <th>ID</th>
            <th>Course</th>
            <th>Institution</th>
            <th>Period</th>
            <th>Image</th>
        </tr>

        {% for line in certificates_table %}
            <tr class="table_line">
                <th>{{ line.id }}</th>
                <th>{{ line.course }}</th>
                <th>{{ line.institution }}</th>
                <th>{{ line.date_period }}</th>
                <th>{{ line.image }}</th>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
