<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Education{% endblock %}

{% block style %}
<link rel="stylesheet" href="../static/stylesheets/education.css">
{% endblock %}

{% block content %}

        <div id="computer">
            <h2 class="title">EDUCATION</h2>
            {% for education in data %}
                <section class="education">
                    <img src="../static/images/education/{{education.image}}" alt="{{education.image}}" class="photo">
                    <blockquote class="text">
                        <p class="diploma">{{education.diploma}}</p>
                        <p class="institution">{{education.institution}}</p>
                        <p class="date_period">{{education.date_period}}</p>
                    </blockquote>
                    <blockquote class="text2">
                        {% for paragraph in education.description %}
                            <p class="description">{{paragraph}}</p>
                        {% endfor %}
                    </blockquote>
                </section>
            {% endfor %}
        </div>

        <div id="mobile">
            <h2 class="title_mob">EDUCATION</h2>
            {% for education in data %}
                <section class="education_mob">
                    <div class="education_mob_header">
                        <img src="../static/images/education/{{education.image}}" alt="{{education.image}}" class="photo_mob">
                        <blockquote class="text_mob">
                            <p class="diploma">{{education.diploma}}</p>
                            <p class="institution">{{education.institution}}</p>
                            <p class="date_period">{{education.date_period}}</p>
                        </blockquote>
                    </div>
                    <blockquote class="text2_mob">
                        {% for paragraph in education.description %}
                            <p class="description">{{paragraph}}</p>
                        {% endfor %}
                    </blockquote>
                </section>
            {% endfor %}
        </div>

{% endblock %}
