<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block style %}<link rel="stylesheet" href="../static/stylesheets/home.css">{% endblock %}

{% block content %}
<section>
    <img src="../static/images/me.png" alt="me.png" class="me">
    <blockquote class="name">
        I'M ANDRE HAFFNER<br>
    </blockquote>
    <blockquote class="role">
        FULLSTACK DEVELOPER | DATA ENGINEER <br>
    </blockquote>
    <blockquote class="bio">
        As a data engineer and fullstack developer, I am passionate about solving problems using technology.
        My permanent intellectual curiosity is what motivates me to explore new technologies and add them as tools
        to solve my next challenges.
    </blockquote>
</section>
{% endblock %}
