<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block style %}<link rel="stylesheet" href="../static/stylesheets/home.css">{% endblock %}

{% block content %}
    <div id="computer">
        <img src="../static/images/me.png" alt="me.png" class="me">
        <blockquote class="name">
            I'm Andre Haffner<br>
        </blockquote>
        <blockquote class="role">
            Fullstack Developer | Data Engineer <br>
        </blockquote>
        <blockquote class="bio">
            Professional with a meticulous approach to think and develop data flows and databases. Ready to develop
            web applications and manage virtual machines to facilitate management of company’s data. Dedicated to
            achieving and surpassing organizational objectives thought strategic learning and application of
            technologies. Great team worker, with good relations with customers and co-workers during all experiences.
        </blockquote>
    </div>

    <div id="mobile">
        <img src="../static/images/me.png" alt="me.png" class="me">
        <blockquote class="name_mob">
            I'M ANDRE HAFFNER<br>
        </blockquote>
        <blockquote class="role_mob">
            FULLSTACK DEVELOPER | DATA ENGINEER <br>
        </blockquote>
        <blockquote class="bio_mob">
            Professional with a meticulous approach to think and develop data flows and databases. Ready to develop
            web applications and manage virtual machines to facilitate management of company’s data. Dedicated to
            achieving and surpassing organizational objectives thought strategic learning and application of
            technologies. Great team worker, with good relations with customers and co-workers during all experiences.
        </blockquote>
    </div>
{% endblock %}

