<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Professional{% endblock %}

{% block style %}
<link rel="stylesheet" href="../static/stylesheets/professional.css" xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block content %}

    <div id="computer">
        <h2 class="title">Professional Experience</h2>
        <section class="experience" id="canadian_tire">
            <div class="experience_header">
                <img src="../static/images/companies/canadian_tire.png" alt="canadian_tire.png" class="photo">
                <blockquote class="text">
                    <p class="role">Team Lead</p>
                    <p class="company">Canadian Tire</p>
                    <p class="date_period">Jun/2023 - present</p>
                </blockquote>
            </div>
            <blockquote class="text2">
                    <p class="description">Canadian Tire Corporation, Limited is a Canadian retail company which
                        operates in the automotive, hardware, sports, leisure and housewares sectors.
                    </p>
                    <p class="description">
                        As a Team Lead at Canadian Tire while pursuing my studies, I demonstrated exceptional leadership
                        abilities in managing a team and optimizing store operations. I effectively coordinated tasks,
                        provided guidance, and fostered a collaborative environment to achieve goals. Through my strong
                        communication skills and dedication, I consistently ensured high levels of customer satisfaction
                        while balancing academic responsibilities.
                    </p>
                    <p class="description">
                        My tenure as a Team Lead honed my leadership, communication, and problem-solving skills.
                    </p>
            </blockquote>
        </section>
        <section class="experience" id="pessoalize">
            <div class="experience_header">
                <img src="../static/images/companies/pessoalize.png" alt="pessoalize.png" class="photo">
                <blockquote class="text">
                    <p class="role">Data Engineering Intern</p>
                    <p class="company">Pessoalize</p>
                    <p class="date_period">Aug/2021 - Aug/2022</p>
                </blockquote>
            </div>
            <blockquote class="text2">
                    <p class="description">Technology and customer service company. Outsourced telemarketing and
                        pioneer in “LIBRAS” attendance via video (LIBRAS is the Brazilian Sign Language). Worked
                        in Data Analysis and Planning team, which was responsible for developing new technologies
                        for clients and company’s operations.
                    </p>
                    <p class="description">
                        I was responsible for creating and maintaining the data architecture in sales development
                        operations, including both database modeling, design and ETL processes in Python, integrating
                        several different sources (RDBMS, NoSQL, APIs, web-scrapping).
                    </p>
                    <p class="description">Actively optimized data flow processes, corrected and cleaned data,
                        seeking constant and effective communication with the operational and development teams,
                        in a dynamic and fast-paced work environment.
                    </p>
                    <p class="description">Built data visualization tools (Excel reports, Metabase dashboards),
                        bringing insights to managers from different areas.
                    </p>
                    <p class="description">• Reports for clients: writing codes that generate solid reports of the
                        operation using database information in real time.
                        <br/>
                        • Real time monitoring panels: creation and design of real time panels
                        for monitoring the operations for inside access and client access.
                        <br/>
                        • Relational databases: structuring databases with multiple tables for the company’s operations;
                        standardization of different operations databases; creation of company’s own database used to
                        manage employee’s information, admissions, and dismissals.
                        <br/>
                        • Web applications: development of web applications to manage inside operations and
                        facilitate day to day of coworkers.
                        <br/>
                        • Documenting: solid documentation of every code, process and change of the databases,
                        data flow, reports (diagrams and notes).
                        <br/>
                        • GitHub supervision: managing merge conflicts, pull requests, and other interferences
                        on the GitHub repositories.
                    </p>
                    <p class="description">
                        Skill set:
                        <br/>
                        Python – Flask - HTML – CSS – SQL – JavaScript – AWS – Excel – VBA – MongoDB – Linux –
                        Command line - API Consumption – Web-scrapping – Metabase – Power BI
                    </p>
            </blockquote>
        </section>
    </div>

    <div id="mobile">
        <h2 class="title_mob">Professional Experience</h2>
        <section class="experience_mob">
            <div class="experience_mob_header">
                <img src="../static/images/companies/canadian_tire.png" alt="canadian_tire.png" class="photo_mob">
                <blockquote class="text_mob">
                    <p class="role">Team Lead</p>
                    <p class="company">Canadian Tire</p>
                    <p class="date_period">Jun/2023 - present</p>
                </blockquote>
            </div>
            <blockquote class="text2_mob">
                <p class="description">Canadian Tire Corporation, Limited is a Canadian retail company which
                        operates in the automotive, hardware, sports, leisure and housewares sectors.
                </p>
                <p class="description">As a Team Lead at Canadian Tire while pursuing my studies, I demonstrated
                    exceptional leadership abilities in managing a team and optimizing store operations. I effectively
                    coordinated tasks, provided guidance, and fostered a collaborative environment to achieve goals.
                    Through my strong communication skills and dedication, I consistently ensured high levels of
                    customer satisfaction while balancing academic responsibilities.
                </p>
                <p class="description">
                    My tenure as a Team Lead honed my leadership, communication, and problem-solving skills.
                </p>
            </blockquote>
        </section>
        <section class="experience_mob">
            <div class="experience_mob_header">
                <img src="../static/images/companies/pessoalize.png" alt="pessoalize.png" class="photo_mob">
                <blockquote class="text_mob">
                    <p class="role">Data Engineering Intern</p>
                    <p class="company">Pessoalize</p>
                    <p class="date_period">Aug/2021 - Aug/2022</p>
                </blockquote>
            </div>
            <blockquote class="text2_mob">
                <p class="description">Technology and customer service company. Outsourced telemarketing and
                    pioneer in “LIBRAS” attendance via video (LIBRAS is the Brazilian Sign Language). Worked
                    in Data Analysis and Planning team, which was responsible for developing new technologies
                    for clients and company’s operations.
                </p>
                <p class="description">
                    I was responsible for creating and maintaining the data architecture in sales development
                    operations, including both database modeling, design and ETL processes in Python, integrating
                    several different sources (RDBMS, NoSQL, APIs, web-scrapping).
                </p>
                <p class="description">Actively optimized data flow processes, corrected and cleaned data,
                    seeking constant and effective communication with the operational and development teams,
                    in a dynamic and fast-paced work environment.
                </p>
                <p class="description">Built data visualization tools (Excel reports, Metabase dashboards),
                    bringing insights to managers from different areas.
                </p>
                <p class="description">• Reports for clients: writing codes that generate solid reports of the
                    operation using database information in real time.
                    <br/>
                    • Real time monitoring panels: creation and design of real time panels
                    for monitoring the operations for inside access and client access.
                    <br/>
                    • Relational databases: structuring databases with multiple tables for the company’s operations;
                    standardization of different operations databases; creation of company’s own database used to
                    manage employee’s information, admissions, and dismissals.
                    <br/>
                    • Web applications: development of web applications to manage inside operations and
                    facilitate day to day of coworkers.
                    <br/>
                    • Documenting: solid documentation of every code, process and change of the databases,
                    data flow, reports (diagrams and notes).
                    <br/>
                    • GitHub supervision: managing merge conflicts, pull requests, and other interferences
                    on the GitHub repositories.
                </p>
                <p class="description">
                    Skill set:
                    <br/>
                    Python – Flask - HTML – CSS – SQL – JavaScript – AWS – Excel – VBA – MongoDB – Linux –
                    Command line - API Consumption – Web-scrapping – Metabase – Power BI
                </p>
            </blockquote>
        </section>

    </div>

{% endblock %}
