<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Professional{% endblock %}
{% block style %}<link rel="stylesheet" href="../static/styles/professional.css">{% endblock %}

{% block content %}
<h2 class="title">PROFESSIONAL EXPERIENCE</h2>

{% for experience in professional %}
<section class="experience">
    <img src="../static/images/companies/{{experience.image}}" alt="{{experience.image}}" class="photo">
    <blockquote class="text">
        <p class="role">{{experience.role}}</p>
        <p class="company">{{experience.company}}</p>
        <p class="date_range">{{experience.date_period}}</p>
    </blockquote>
</section>
{% endfor %}

{% endblock %}
