<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Professional Experience{% endblock %}
{% block style %}<link rel="stylesheet" href="../static/professional_experience.css">{% endblock %}

{% block content %}
    <div class="header">
        <h3 class="title"><b>Professional Experience</b></h3>
    </div>
    <br/><br/>
    {% for experience in experiences %}
        <section class="experience">
            <p class="title2"><b>{{ experience.charge }}</b></p>
            <p class="subtitle">at {{ experience.company }}</p>
            <p class="subtitle"><b>({{ experience.dt_start }} to {{ experience.dt_finish }})</b></p>
            <p class="subtitle">{{ experience.remote }}</p>
            <br/><br/>
            {% for resume in experience.resume %}
                <p class="paragraph">• {{ resume }}</p>
            {% endfor %}
        </section>
    {% endfor %}
{% endblock %}
