
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ data.css ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.title {
    font-family: Impact, serif;
    font-size:300%;
    text-align:center;
    color:#19A7CE;
    margin:auto;
}

.subtitle {
    text-align:center;
    font-size:25px;
    color: #F6F1F1;
    margin:auto;
}

.table_title {
    margin: 100px auto auto auto;
    text-align:center;
    font-size:25px;
    color: #F6F1F1;
}

.table {
    width:60%;
    margin:40px auto auto auto;
    color:#F6F1F1;
    background-color:#696969;
    border-collapse: collapse;
    text-align:center;
    overflow-x:auto;
    border: 2px #999;
}

tr:hover {background-color:#333333;}

table, tr, th {border: 2px solid #999;}
